/* === HEADER === */

header{
  /* couleur de fond dégradée avec opacité */
  /*background-image:linear-gradient(to left, #007a99 50%, #660029, #e62e00);*/
  /*background-image: url("fond.JPG");*/
  background-image: linear-gradient(to top left, black 60%, red);
  opacity: 0.6;
  
  /* force le background a occuper toute la largeur et pas uniquement
     ou se trouve le texte */
  width: 100%;
  display: flex;
  flex-direction: row;
  /*border-bottom: 3px solid rgba(85, 85, 85, 0.3);*/
}

/* conteneur du menu, identifiant hérite de nav */
header nav{
  margin-left: 4%;
  display: flex;
  flex-direction: row;
}

header nav a{

  font-family: Arial, Cambria, Verdana;
  font-size: 0.9em;
  color: white;
  text-decoration: none; /* enleve le soulignement des liens du menu */

}

header nav .contour_a{
  padding: 10%;
}

header nav .contour_a:hover{
  background-color: #999999;
  transition: background-color .5s;
}

header nav .contour_a a:hover{
  color: white;
}

nav a{
  font-family: Cambria, Verdana, Arial;
  font-size:1.3em;
  text-decoration: none; /* enleve le soulignement des liens du menu */
  /*color: rgb(41, 61, 61);*/
}

/* comportement des liens au survol */
nav a:hover{
  font-weight: bold;
  color: rgb(153,102,102);
}




/* =================================
          PRINCIPAL
   ================================= "/
/* logo de menu */

.logo{
      width: 40px;
      height: 40px;
      margin: 4%;
}

/* === ASIDE === */

aside{
  margin: 1%;
}

/* conteneur de la table des matières */
aside nav{
  font-family: Cambria, Verdana, Arial;
  font-size: 0.9em;
  text-align: justify;
  text-decoration: none; /* enleve le soulignement des liens du menu */
  display: flex;
  flex-direction: column; /* crée le menu verticalement */
}





/* liens dans le texte */
a{
  color: #0086b3;
  text-decoration: none;
}

/* comportement des liens dans le texte au survol */
a:hover{
  font-weight: bold;
  color: #ff8000;
}


/* ===== TITRES ===== */

/* titre du site */
h1{
  font-family: Arial, Cambria, Verdana;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px #555;
  margin: 1%;
  margin-left: 2%;
}

/* titre de page */
h2{
  font-family: Cambria, Verdana, Arial;
  font-size: 2em;
  margin-left: 40%;
  color: white;
  text-shadow: 2px 2px #555;
}

h3{ /* titre de sections */
  font-size: 1.7em;
  padding-top: 10px;
  font-family: Cambria, Verdana, Arial;
  color: rgb(51,153,255);
  margin-left: 35%;
}

/* titres de sous-sections */
h4{
  font-size: 1.2em;
  margin-top: 40px;
  font-family: Cambria, Verdana, Arial;
  color: rgb(51,153,255);
}

h5{
  font-size: 1.2em;
  font-style: italic;
  margin-top: 40px;
  font-family: Cambria, Verdana, Arial;
  color: rgb(51,153,255);
}

.bouton{
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: #ff9933;/*rgba(220, 0, 0, 1);*/
  background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}




/* === PRINCIPAL === */

body{
  background-image: url("fond.JPG");
}

#principal{
  /*background-image:linear-gradient(#007a99, #2e2e1f);*//* couleur #00ace6
  de font dégradée avec opacité */
  
  width: 100%; /* force le background à occuper toute la largeur */
  display: flex;
  flex-direction: row;
}

#table_matieres{
  width: 20%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

#grandContenu{
	width:80%;
  margin-left: 2%;
  display: flex;
  flex-direction: column; 
}

#bandeau_sousTitre{
  width: 95%; 
  
  padding-left: 2%;
}

#bandeau_sousTitre p{
  color: white;
}

#bandeau_contenu{
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  opacity: 0.4;
  padding-left: 2%;
}

#bandeau_contenu p{
  color: white;
}

#bandeau_controle{
  width: 95%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  background-color: white;
  opacity: 0.6;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
}

/* section dans laquelle se trouve tout le contenu */
#contenu{
  width: 95%;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  background-color: white;
  opacity: 0.6;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
}

#penalite{
	width:60%;
	border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
	background-color:#ffcccc;
	opacity:0.4;
	margin-left:20%;
  padding-left: 2%;
}

#chapitres{
  width: 10%;
  margin: 2%;
  margin-left: 90%;
  position: fixed; /* empêche le déroulement du menu avec la souris */
}

/* texte de pied de balise */
footer p{
    font-family: Cambria, Verdana, Arial;
    font-size: 0.9em;
    color: #828786;
    text-align: center;
}

.footerColumn{
  font-family: Cambria, Verdana, Arial;
  /*text-align: justify;*/
  text-decoration: none; /* enleve le soulignement des liens du menu */
  display: flex;
  flex-direction: column; /* crée le menu verticalement */
  margin-left: 3%;
  width: 15%;
}

.largeFooterColumn{
  font-family: Cambria, Verdana, Arial;
  /*text-align: justify;*/
  text-decoration: none; /* enleve le soulignement des liens du menu */
  display: flex;
  flex-direction: column; /* crée le menu verticalement */
  margin-left: 3%;
  width: 40%;
}

.footerNav{
  display: flex;
  flex-direction: column; /* crée le menu verticalement */
  font-size: 1.1em;
  color: #828786;
}

/* pied de page, classe hérite de footer */
.piedPage{
  height: 60%;
  background-image: linear-gradient(to bottom right, black 80%, red);
  opacity: 0.6;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.piedPageParagraphe{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.1em;
  color: #828786;
  text-align: left;
  margin-top:0%;
}

.piedPageTitre{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.1em;
  font-style: italic;
  color: #ff9933;
  text-align: left;
}


/* paragraphes */
p{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  text-align: justify;
}

label{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  text-align: justify;
}

.ancre{
    margin: 10%;
}

/* classe de paragraphes de mots-clés */
.pcle{
  width: 80%;
  margin: auto;
  color: rgb(153,102,102);
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  text-align: justify;
  font-style: italic;
}

/* texte mis en valeur */
strong{
  font-weight: bold;
}

/* figure */
figure{
  text-align: center;
}

/* encadrement avec titre */
fieldset{
  width: 90%;
  
  border: 2px rgb(153,102,102) solid;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  margin-top: 20px;
  margin-bottom: 20px;

}

.fieldset_inside{
  /*width: 90%;
  margin: 1%;
  padding: 1%;*/
  width:100%;
  margin: auto;
  border: 2px rgb(153,102,102) solid;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  background-color: white;
  margin-top: 30px;
  margin-bottom:30px;
}

  
.bloc_colonne{
  display: flex;
  flex-direction: column;
}
  
.bloc_ligne{
  display: flex;
  flex-direction: row;
}
  

fieldset2{
  width: 50px;
  border: 2px rgb(153,102,102) solid;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  padding-left: 5px;
  padding-top: 5px;
}

/* listes */
ul{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  list-style-image: url('puce.png');
}

/* élément de listes */
ol{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
}

/* classe de légende des lignes de code */
.legendeCode{
  font-size:0.8em;
  color: #807070;
  text-align: right;
  margin-top: 5px;
  height:30px;
}

.ulExemple{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  list-style-type: square;
}

.image{
  border: 2px black solid;
  width: 60%;
}

.bloc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.droite{
  margin:15px;
}

.gauche{
  margin:15px;
  margin-left:0px;
}



/* ===== TABLEAUX ===== */

/* tableaux */
table{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  border-collapse: collapse; /* colle les cellules du tableau entre elles */
}

/* colonnes */
td{
  font-family: Cambria, Verdana, Arial;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgb(153,102,102);
}

/* colonnes dans lesquelles se trouvent du code */
td pre{
  font-size:0.8em;
}

/* colonnes dans la 1ère ligne */
th{
  font-family: Cambria, Verdana, Arial;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgb(153,102,102);
}


